*{
    margin: 0;
}
#navbar
{
    display:flex;
    flex-direction: row;
    background-color: rgb(76, 224, 224);
    align-items: center;;
    justify-content: space-between;
    padding:10px;
   
}
form
{
    
    background-color: rgb(228, 172, 126);
    width:25%;
    padding:20px;
    border:1px solid gray;
    margin-top:30px;
    margin:auto;
    display: flex;
    flex-direction: column;
    gap:10px;
  
   
   
}
a
{
    padding:0px;
    text-decoration: none;
    color:black;
}
label
{
    font-size: 20px;;
    text-align: center;
}
h3
{
    padding:0px;
    margin: 0px;
}

input
{
    padding:5px;
}

